<aside>
  <form method="post" action="/comics" enctype="multipart/form-data">

      <label for="uploadPic"></label>
      <input id="uploadPic" type="file" name="img">
      <p class="help-block">* Choose a cover image</p>


      <label for="comicName"></label>
      <input id="comicName" class="form-control" type="text" placeholder="comicName" name="comicName">


      <label for="comment"></label>
      <textarea id="comment" name="comment" class="form-control" type="text" place-holder="blubs about">
      </textarea>

    <button type="submit" class="btn btn-primary">upload</button>
  </form>
</aside>

<section>
  <h2>My Comics</h2>
  <div class="user-comics" ng-repeat="comic in comicCollection">
    <img ng-src="{{comic.imgfile}}" alt="" class="thumbnail img-responsive">
    <span class="comic-title">{{comic.comicName}}</span>
    <br>
    by <span>{{comic.existinguser}}</span>
    <div class="likes">
       <i class="fa fa-thumbs-o-up up-voting" aria-hidden="true" ng-click="incLikes(comic)"></i>{{comic.likes}}
    </div>
    <div class="comment">
      <p>
        {{comic.comment}}
      </p>
      </div>
  </div>

</section>
